
  <div class="card text-center h-100">
    <div class="card-body">
      <h5 class="card-title">Update Inventory</h5>
      <form id="{{id}}" class="col lg-2 update-inv-btn">
        <input type="text" name="inventory[reference]" placeholder="Reference">
        <input type="Date" name="inventory[date]">
        <input class="btn btn-warning" type="submit" value="Update">
      </form>
    </div>
  </div>
