{{#each items as |item|}}
  {{#if inventory.id}}
  <tr>
    <th scope="row">-</th>
    <td>{{item.name}}</td>
    <td>{{item.quantity}}</td>
    <td><button data-id="{{item.id}}" type="button" name="Remove" class="btn btn-secondary btn-sm delete-item-btn">x</button></td>
  </tr>
   {{/if}}
{{/each}}
